body {
  background: linear-gradient(to left, #abaca9, #C1D7FC);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  animation: bg 5s infinite ease; 
  height: 100%;
  margin: 6em 0 4em 0;
  text-align: center;
}

@keyframes bg {
  0% {
    background-position: 25% 0%;
  }
  50% {
    background-position: 75% 0%;
  }
  100% {
    background-position: 25% 0%;
  }
}

h1 {
  margin: auto;
  display: inline;
  border-radius: 15px;
  padding: 15px 15px;
  transition: box-shadow 500ms;
}

h1:hover { 
  box-shadow: 0 5px 10px black;  
}

.playPause {
    border-radius: 15px;
    display: inline;
    transition: box-shadow 500ms, filter 200ms;
    margin: auto;
    filter: sepia(0) contrast(150%)
}

.playPause:hover {
  box-shadow: 0 5px 10px black; filter: contrast(600%) brightness(100%);
}

#songListFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.songbutton {
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px; 
  display: block;
  background-color: #C1D7FC;
  margin: 3px 0;
  text-transform: capitalize;
  cursor: pointer;
  width: 50%;
  transition: box-shadow 500ms;
}

div button:hover {
  box-shadow: 0 3px 10px black;
}
 
  #hourHand {
    background: url(https://cdn.glitch.com/41f71cf5-cf89-4508-a91f-4f06e97989e1%2Fhour%20hand.png?1611854017506);
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: inherit;
    margin: auto;
    position: absolute;
    vertical-align: center;
    z-index: 11;
    border-radius: 50%;
    filter: saturate(4) brightness(50%) hue-rotate(250deg);
}

#minuteHand {
   background: url(https://cdn.glitch.com/41f71cf5-cf89-4508-a91f-4f06e97989e1%2Fminute%20hand.png?1611854050188);
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: inherit;
    margin: auto;
    position: absolute;
    vertical-align: center;
    z-index: 11;
    border-radius: 50%;
    filter: saturate(4) brightness(50%) hue-rotate(260deg);
}

#secondHand {
  background: url(https://cdn.glitch.com/41f71cf5-cf89-4508-a91f-4f06e97989e1%2Fsecond%20hand.png?1611854055707);
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: inherit;
    margin: auto;
    position: absolute;
    vertical-align: center;
    z-index: 11;
    border-radius: 50%;
    filter: saturate(4) brightness(50%) hue-rotate(270deg);
}

#screenBlur{ 
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 85%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

#animationsContainerContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#animationsContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#xButton{
  width: 50px;
  height: 50px;
  top: 10%;
  left: 80%;
  position: absolute;
  background-color: black;
  border-radius: 25%;
}



.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-3 15:7:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}




.slide-in-elliptic-top-bwd {
	-webkit-animation: slide-in-elliptic-top-bwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-in-elliptic-top-bwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-3 15:8:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-bwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-bwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}







/*animations css*/

#a1, #a2, #a3, #a4 {
    margin: auto;
    position: absolute;
    left: 50%;
    align-self: flex-start;
}


.animationbutton {
  background: linear-gradient(#d4f6ff, #9ccad6);
  border: solid 2px #acb9bd;
  border-radius: 5px;
  transition-property: transform, filter;
  transition-duration: 200ms;
  margin-bottom: 5px;
  filter: contrast(200%);
  filter: brightness(95%);
  }

.animationbutton:hover {
  transform: scale(1.25); z-index: 3;
}

#a2 {
  background: linear-gradient(270deg, #fc1403, #ff9f40, #0e6ba1, #a624bd);
  background-size: 400% 400%;
  animation: a2 5s infinite ease;
}

@keyframes a2 {
  0% {background-position: 0% 50%; transform: scale(1) rotate(0deg);
    border-radius: 0%; box-shadow: 0px 5px 30px black; filter: brightness(100%)}
  
  25% {background-position: 100% 50%; transform: scale(1.5) rotate(-270deg);
    border-radius: 25%; box-shadow: 0px 10px 60px black; filter: brightness(150%)}
  
  50% {background-position: 0% 50%; transform: scale(2) rotate(270deg);
    border-radius: 50%; box-shadow: 0px 10px 60px black; filter: brightness(200%)}
  
  75% {background-position: 100% 50%; transform: scale(1.5) rotate(-360deg);
    border-radius: 25%;  box-shadow: 0px 10px 60px black; filter: brightness(150%)}
  
  100% {background-position: 0% 50%; transform: scale(1) rotate(0deg); filter: brightness(100%);  
    border-radius: 0%;}
}