* {
  color: yellow; background-color: black;
}

button {
  width: 50%; height: 2em; border: 5px dashed yellow; font-size: 150%;
}

button:hover {
   background-color: gray; box-shadow: 10px 5px 5px white;
}

h1 {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: helvetica;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #20EDF9, 0 0 40px #20EDF9, 0 0 50px #20EDF9, 0 0 60px #20EDF9, 0 0 70px #20EDF9;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}}

